# If changing requirements, both requirements.txt and
# requirements-tensorflow.txt must be recompiled
alembic==1.3.1
apache-airflow[postgres,crypto,celery,s3,sentry,slack]
backoff
beautifulsoup4==4.9.3
mohawk
msal
notifications-python-client==5.7.0
pyjwt[crypto]
redis
requests
requests-oauthlib
typing_extensions
git+https://github.com/GSS-Cogs/gss-utils.git@6439568a04c177a117cf8038dbee1678c98df419
zipstream
scikit-learn==0.22.2.post1
git+https://github.com/uktrade/data-flow-metrics.git
splitstream==1.2.4
git+https://github.com/psycopg/psycopg3.git@f045d822ca3c375b62657b55a6dd88daae4548a5#subdirectory=psycopg3
